
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 600px;
    width: 100%;
    background-image: url("./mountains.jpg");
    background-size: cover;
    background-position: center; 
    z-index: -2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 0.654);
    color: #f5f5f7;
}

nav ul,
a {
    display: flex;
    gap: 60px;
    list-style: none;
    text-decoration: none;
    font-size: 10px;
    color: #f5f5f7;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.5s;
}

nav a:hover {
    transform: scale(110%);
}

.logo {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 1s;
    cursor: pointer;
}

.logo:hover {
    letter-spacing: 5px;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
    font-size: 25px;
    color: #1d1d1f;
}

  
.header-box h3 {
    transition: 1s;
    cursor: pointer;
}

.header-box h3:hover {
    font-size: 50px;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 200px;
    background-color: black;
    color: #f5f5f7;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    box-shadow: 0 12px 40px 10px black;
    z-index: 1;
    position: relative;
}

.skills p {
    padding: 15px;
    border: 2px solid transparent;
    transition: 0.5s;
}

.skills p:hover {
    border: 2px solid #f5f5f7;
    z-index: 1;
}

.major-project {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #868683;

}

.major-project h3 {
    margin-top: 50px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
    transition: 1s;
    color: #f5f5f7 ;
    background: rgba(0, 0, 0, 0.654);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #f5f5f7;
}
.about-box {
    background-color:rgba(0, 0, 0, 0.654) ;
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-left: 25vw;
    margin-right: 25vw;
    color: #f5f5f7;
    
}

.about-box .about h3{
    text-decoration:underline;
}
.about-box .about p {
    text-indent: 5%;
    padding-top: 10px;
    line-height: 35px;
    border-top: none;
    font-size: small;
}

.major-project h3:hover {
    letter-spacing: 15px;
}

.project-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    justify-content: center;
    height: 600px;
    width: 100%;
    color: #f5f5f7;

}


.project-content {
    gap: 30px;
    height: 90%;
    width: 30%;
    border: 3px solid #f5f5f7;
    border-radius: 25px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 12px 20px 10px rgba(0, 0, 0, 0.4);
}
.project-content h5{
    display:flex;
    justify-content: center;

}
.project-content a, .project-content button{
    display: flex;
    padding-top: 71%;
    justify-content: center;
}


.tropicana {
    background-size:cover;
    background-image: url("./tropicana.jpg");
}
.lawn {
    background-size:cover;
    background-image: url("./lawn.jpg");
}
.nike {
    background-size:cover;
    background-image: url("./nike.jpg");
}

.project-content h5 {
    padding: 50px 0 0 10px;
    font-size: 30px;
    text-align: left;
}

.project-content:hover {
    transform: scale(100%);
}

.project-box p {
    text-align: center;
    width: 80%;
}

.project-box button {
    height: 30px;
    width: 100px;
    background: transparent;
    border: 2px solid #f5f5f7;
    color: #f5f5f7;
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
}

.project-box button:hover{
    color: #1d1d1f;
    background-color: #f5f5f7;
}

footer {
    height: 180px;
    background-color: #1d1d1f;
    display: flex;
    justify-content: space-between;
    color: #f5f5f7;
    align-items: center;
    padding: 0 50px;
}

footer .logo {
    font-size: 10px;
    letter-spacing: 5px;
}

footer.logo:hover {
    transform: scale(110%);
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
    border-left: 2px solid #f5f5f7;
}

footer ul a {
    font-size: 8px;
}

footer ul a:hover {
    transform: scale(110%);
}
